/* HEADER */



/* HERO */


/* HERO */


/* ---------------- */
/* ---------------- */
.container-column {
    flex-direction: column;
}

/* SECTION Features */

/* SECTION Features */


/* -------------- */
/* -------------- */


/* SECTION OUR TEAM */
/* SECTION OUR TEAM */



/* -------------- */
/* -------------- */



/*.container-description-overlow {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/


/* модальне вікно */

/* --------------- */