/* HEADER */



/* HERO */


/* HERO */


/* ---------------- */
/* ---------------- */
.container-column {
    flex-direction: column;
}

/* SECTION Features */

/* SECTION Features */


/* -------------- */
/* -------------- */


/* SECTION OUR TEAM */
/* SECTION OUR TEAM */



/* -------------- */
/* -------------- */



/*.container-description-overlow {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/


.footer {
    background: var(--navyblue, #2E2F42);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    padding: 0;
}

.studio {
    color: var(--cloud, #F4F4FD);
}


.footdeskr {
    color: var(--cloud, #F4F4FD);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;

}

.link-social-footer:hover,
.link-social-footer:focus {
    background-color: var(--green, #31D0AA);
}

/*.link-footer {
    margin-left: 120px;
}*/

.footer-social-icon {
    display: flex;
    gap: 16px;
}

.deskription-link-footer {
    color: var(--white, #FFF);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.container-footer {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-logo-footer {
    display: block;
    margin-right: 120px;
}

.link-social-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.container-footer-form {
    padding-left: 80px;
}

.container-footer-btn {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-button-send {
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    fill: var(--WHITE, #FFF);
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.icon-footer-button {
    margin-left: 16px;
}

.title-footer-form {
    color: var(--WHITE, #FFF);
    margin-bottom: 16px;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.title-footer-input {
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    color: var(--white, #ffffff);
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

input::placeholder {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    /* 200% */
    letter-spacing: 0.04em;
}

/* модальне вікно */

/* --------------- */

.backdrop {
    opacity: 0.75;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-modal {
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form {
    display: flex;
    flex-direction: column;
}

.modal-close-btn {
    outline: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
    fill: #ffffff;
}

.title-form {
    color: #2E2F42;
    text-align: center;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.container-modal-user-name {
    margin-bottom: 8px;
}

.user-name {
    color: #8E8F99;

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.container-name {
    display: flex;
    flex-direction: column;
    position: relative;

}

.description-input-user {
    /* text-indent: 38px; */
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

input:focus {
    border-color: #4D5AE5;
}

.icon-person {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
    fill: #4D5AE5;
}

.container-textarea-user-name {
    margin-bottom: 16px;
}

.textarea {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.container-checkbox {
    margin-bottom: 24px;
    display: flex;
    column-gap: 8px;
}

.label-checkbox {
    color: var(--LIGHT-SLATE, #8E8F99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
}

.span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.label-checkbox>.span-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.link-user-privacy {
    color: #4d5ae5;
}

.modal-btn {
    display: block;
    padding: 16px 32px;
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}