/* HEADER */



/* HERO */


/* HERO */

.secthero {
    background: var(--navyblue, #2E2F42);
    padding: 72px 0 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.7)), url(../images/background/people-in-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 1440px 600px;*/
    max-width: 768px;
    margin: 0 auto;
    background-position: center;
}

.title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    max-width: 288px;
    margin: 0 55px 72px;
}

.button {
    background-color: var(--iris, #4D5AE5);
    cursor: pointer;
    color: var(--white, #FFF);
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus,
button:active {
    background-color: var(--ocean, #404BBF);
}

@media (min-width: 768px) and (max-width: 1157px) {
    .title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 36px;
    }

    .secthero {
        padding: 112px 0 112px;
        max-width: 1158px;
    }

}

@media (min-width: 1158px) {
    .title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 48px;
    }

    .secthero {
        padding: 188px 0;
        max-width: 1440px;
    }

}

/* ---------------- */
/* ---------------- */
.container-column {
    flex-direction: column;
}

/* SECTION Features */

/* SECTION Features */

.section-dascr {
    background-color: #FFF;
    padding: 96px 0;
}

.section-dascr-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 0;
}

.icon {
    display: none;
}

.paragraf {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.deskr {
    padding: 0;
    margin: 0;
    width: 288px;
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) and (max-width: 1157px) {

    .section-dascr-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .item {
        width: calc((100% - 24px) / 2);
    }

    .paragraf {
        text-align: start;
    }

    .deskr {
        width: 356px;
        padding: 0;
        margin: 0;
    }
}

@media (min-width: 1158px) {

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid var(--lightslate, #8E8F99);
        background-color: var(--cloud, #F4F4FD);
    }

    .item {
        width: calc((100% - 72px) / 4);
    }

    .section-dascr-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0 156px;
    }

    .paragraf {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: start;
    }

    .deskr {
        width: 264px;
        padding: 0;
        margin: 0;
    }
}


/* -------------- */
/* -------------- */


/* SECTION OUR TEAM */
/* SECTION OUR TEAM */

.ourteam {
    background: var(--cloud, #F4F4FD);
    padding: 96px 0;
}

.features {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team {
    width: 264px;
    margin: 0 auto;
    padding-bottom: 72px;
    background: var(--white, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.title-our-team-images {
    margin: 0 auto;
}

.cont-name {
    padding: 32px 0;
    text-align: center;
}

.title-our-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.title-our-team-description {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.team-social-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-icon-type {

    fill: #F4F4FD;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.link-social {
    border-radius: 50%;
    background-color: var(--iris, #4D5AE5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link-social:hover,
.link-social:focus {
    background-color: var(--ocean, #404BBF);
    border-radius: 50%;
}



/* -------------- */
/* -------------- */



.container-portfolio-descr {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.container-portfolio-descr-item {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--cornflower, #E7E9FC);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio-img {
    position: relative;
    overflow: hidden;
}

.paragraf-overflow {
    color: var(--cloud, #F4F4FD);
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

/*.container-description-overlow {
    position: absolute;
    top: 0;
    
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: #4D5AE5;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}*/

.container-portfolio-descr-item:hover p {
    transform: translateY(0%);
}

.container-portfolio-descr-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-portfolio {
    padding: 120px 0;
}

.title-portfolio {
    color: var(--navyblue, #2E2F42);
    text-align: center;

    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.container-paragraf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-paragraf {
    margin-bottom: 8px;
    color: var(--navyblue, #2E2F42);

    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 120% */
    letter-spacing: 0.4px;
}

.container-paragraf h3 {
    text-align: start;
}

.container-paragraf p {
    text-align: start;
}



.footer {
    background: var(--navyblue, #2E2F42);
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    padding: 0;
}

.studio {
    color: var(--cloud, #F4F4FD);
}


.footdeskr {
    color: var(--cloud, #F4F4FD);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;

}

.link-social-footer:hover,
.link-social-footer:focus {
    background-color: var(--green, #31D0AA);
}

/*.link-footer {
    margin-left: 120px;
}*/

.footer-social-icon {
    display: flex;
    gap: 16px;
}

.deskription-link-footer {
    color: var(--white, #FFF);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.container-footer {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
}

.container-logo-footer {
    display: block;
    margin-right: 120px;
}

.link-social-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.container-footer-form {
    padding-left: 80px;
}

.container-footer-btn {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer-button-send {
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--IRIS, #4D5AE5);
    fill: var(--WHITE, #FFF);
    min-width: 165px;
    height: 40px;
    cursor: pointer;
    border: none;
}

.icon-footer-button {
    margin-left: 16px;
}

.title-footer-form {
    color: var(--WHITE, #FFF);
    margin-bottom: 16px;
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.title-footer-input {
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    color: var(--white, #ffffff);
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--WHITE, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

input::placeholder {
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    /* 200% */
    letter-spacing: 0.04em;
}

/* модальне вікно */

/* --------------- */

.backdrop {
    opacity: 0.75;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-modal {
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form {
    display: flex;
    flex-direction: column;
}

.modal-close-btn {
    outline: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
    fill: #ffffff;
}

.title-form {
    color: #2E2F42;
    text-align: center;

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.container-modal-user-name {
    margin-bottom: 8px;
}

.user-name {
    color: #8E8F99;

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.container-name {
    display: flex;
    flex-direction: column;
    position: relative;

}

.description-input-user {
    /* text-indent: 38px; */
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

input:focus {
    border-color: #4D5AE5;
}

.icon-person {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
    fill: #4D5AE5;
}

.container-textarea-user-name {
    margin-bottom: 16px;
}

.textarea {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.container-checkbox {
    margin-bottom: 24px;
    display: flex;
    column-gap: 8px;
}

.label-checkbox {
    color: var(--LIGHT-SLATE, #8E8F99);

    /* Small Text */
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.04em;
}

.span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.label-checkbox>.span-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.link-user-privacy {
    color: #4d5ae5;
}

.modal-btn {
    display: block;
    padding: 16px 32px;
    color: var(--WHITE, #FFF);
    text-align: center;

    /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}