.backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    width: calc(100% - 32px);
    margin: auto;
    padding: 0 16px;

}

.modal-close-btn {
    outline: none;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.10);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
}

.title-form {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 72px 0 16px 0;
}

.container-name {
    position: relative;
}

.description-input-user {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: none;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-left: 34px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.icon-person {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.user-name {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.textarea {
    width: 100%;
    resize: none;
    height: 120px;
    outline: none;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    margin-top: 4px;
    padding: 8px 0 0 16px;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

textarea::placeholder {
    opacity: 0.5;
}

.container-textarea-user-name {
    margin-bottom: 16px;
    line-height: 0;
}

.span-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
    display: flex;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}

.link-user-privacy {
    color: var(--IRIS, #4D5AE5);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.wrapper-text-user-privacy {
    width: 231px;
}

.vector-castom-checkbox {
    fill: #FCFCFC;
}

.input-checkbox:checked+.label-checkbox>.span-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.container-checkbox {
    margin-bottom: 24px;
}

.modal-btn {
    display: block;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    padding: 16px 32px;
    margin: 0 auto 24px auto;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .container-modal {
        width: 408px;
        height: auto;
        padding: 0 25px;
    }

    .wrapper-text-user-privacy {
        width: 338px;
    }

    .label-checkbox {
        align-items: baseline;
    }
}

























/* .container-modal {
    border-radius: 4px;
    background: var(--DAIRY, #FCFCFC);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    ;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-form {
    display: flex;
    flex-direction: column;
}

.modal-close-btn {
    outline: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: var(--OCEAN, #404BBF);
    border: none;
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
    fill: #ffffff;
}

.title-form {
    color: #2E2F42;
    text-align: center;

    
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.container-modal-user-name {
    margin-bottom: 8px;
}

.user-name {
    color: #8E8F99;

    
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.container-name {
    display: flex;
    flex-direction: column;
    position: relative;

}

.description-input-user {
    
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

input:focus {
    border-color: #4D5AE5;
}

.icon-person {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
    fill: #4D5AE5;
}

.container-textarea-user-name {
    margin-bottom: 16px;
}

.textarea {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.container-checkbox {
    margin-bottom: 24px;
    display: flex;
    column-gap: 8px;
}

.label-checkbox {
    color: var(--LIGHT-SLATE, #8E8F99);

    
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    
    letter-spacing: 0.04em;
}

.span-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked+.label-checkbox>.span-checkbox {
    border: none;
    fill: #F4F4FD;
    background-color: #404bbf;
}

.link-user-privacy {
    color: #4d5ae5;
}

.modal-btn {
    display: block;
    padding: 16px 32px;
    color: var(--WHITE, #FFF);
    text-align: center;

    
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
   
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */