.ourteam {
    background: var(--cloud, #F4F4FD);
    padding: 96px 0;
}

.features {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.container-ourteam {
    padding: 0 12px;
}

.team {
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
    background: var(--white, #FFF);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team:last-child {
    margin-bottom: 0;
}

.cont-name {
    padding: 32px 0;
    text-align: center;
}

.title-our-team {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.title-our-team-description {
    color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.team-social-icon {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-icon-type {

    fill: #F4F4FD;
}

.link-social {
    border-radius: 50%;
    background-color: var(--iris, #4D5AE5);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.link-social:hover,
.link-social:focus {
    background-color: var(--ocean, #404BBF);
    border-radius: 50%;
}

@media screen and (min-width: 767px) {


    .container-ourteam {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        padding: 0 108px;
        column-gap: 24px;
    }

    .team {
        width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .ourteam>.container {
        padding: 0;
    }
}