.paragraf-overflow {
    display: none;
}

.section-portfolio {
    padding: 96px 0;
}

.title-portfolio {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.container-portfolio-descr-item {
    margin-bottom: 48px;
    border: 1px solid var(--CLOUD, #F4F4FD);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.container-portfolio-descr-item:last-child {
    margin-bottom: 0;
}

.container-paragraf {
    padding: 32px 0;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.title-paragraf {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.deskr {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .container-portfolio-descr {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .container-portfolio-descr-item {
        width: calc((100% - 24px) / 2);
        margin: 0;
    }

    .container-paragraf {
        padding-left: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding: 120px 0;
    }

    .container-portfolio-descr-item {
        width: calc((100% - 48px) / 3);
    }

    .container-portfolio-descr {
        column-gap: 24px;
        row-gap: 48px;
    }

    .container-portfolio-img {
        position: relative;
        overflow: hidden;
    }

    .paragraf-overflow {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateY(100%);
        top: 0;
        right: 0;
        color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: var(--IRIS, #4D5AE5);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .container-portfolio-img:hover p,
    .container-portfolio-img:focus p {
        transform: translateY(0);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}